.group {
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
}

.cell {
  margin-bottom: 10px;
}

.cell:last-child {
  margin-bottom: 0;
}

.new {
  opacity: 0;
}

.cell:hover .new {
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.author {
  align-items: center;
  color: var(--vkui--color_text_primary);
  width: 25%;
  min-width: 25%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flag {
  opacity: 0;
  transition: opacity 0.4s ease;
  color: var(--vkui--color_text_secondary);
  margin-right: 10px;
  cursor: pointer;
}

.cell:hover .flag:not(.selected) {
  opacity: 1;
}

.flag.selected {
  opacity: 1;
  color: var(--dynamic_red);
  fill: currentColor;
}

.title {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
}

.title--text {
  display: inline;
  margin-right: 10px;
}

.title--content {
  display: inline;
  color: var(--vkui--color_text_secondary);
}

.time {
  color: var(--vkui--color_text_secondary);
}
