.vkuiGroup__inner {
  padding: 0 !important;
  padding-bottom: 10px;
}


body.vkui--vkBase--monochrome img {
  filter: grayscale(1);
}

body.vkui--vkBase--monochrome, .vkuibright_light {
  --accent: #000;
  --accent_alternate: #eeeeee;
  --action_sheet_action_foreground: #b6b6b6;
  --action_sheet_separator: rgba(0, 0, 0, 0.12);
  --activity_indicator_tint: #c2c2c2;
  --attach_picker_tab_active_background: #b5b5b5;
  --attach_picker_tab_active_icon: #ffffff;
  --attach_picker_tab_active_text: #b8b8b8;
  --attach_picker_tab_inactive_background: #f5f5f5;
  --attach_picker_tab_inactive_icon: #959595;
  --attach_picker_tab_inactive_text: #939393;
  --background_content: #ffffff;
  --background_highlighted: rgba(188, 188, 188, 0.16);
  --background_hover: rgba(191, 191, 191, 0.12);
  --background_keyboard: #e4e4e4;
  --background_light: #fafbfc;
  --background_page: #ebebeb;
  --background_suggestions: #ffffff;
  --background_text_highlighted: rgba(183, 183, 183, 0.2);
  --button_bot_shadow: #cccccc;
  --button_commerce_background: #adadad;
  --button_commerce_foreground: #ffffff;
  --button_muted_background: #eeeeee;
  --button_muted_foreground: #7b7b7b;
  --button_outline_border: #7b7b7b;
  --button_outline_foreground: #7c7c7c;
  --button_primary_background: #b3b3b3;
  --button_primary_foreground: #ffffff;
  --button_secondary_background: #eeeeee;
  --button_secondary_background_highlighted: #e7e7e7;
  --button_secondary_destructive_background: rgba(229, 229, 229, 0.16);
  --button_secondary_destructive_background_highlighted: rgba(225, 225, 225, 0.12);
  --button_secondary_destructive_foreground: #e5e5e5;
  --button_secondary_destructive_foreground_highlighted: rgba(230, 230, 230, 0.12);
  --button_secondary_foreground: #717171;
  --button_secondary_foreground_highlighted: #7c7c7c;
  --button_tertiary_background: rgba(0, 0, 0, 0);
  --button_tertiary_foreground: #797979;
  --cell_button_foreground: #787878;
  --content_negative_background: #f7f7f7;
  --content_placeholder_icon: #ababab;
  --content_placeholder_text: #969696;
  --content_positive_background: #f1f1f1;
  --content_tint_background: #f0f2f5;
  --content_tint_foreground: #828282;
  --content_warning_background: #ffffff;
  --control_background: #edeef0;
  --control_background_secondary: #ffffff;
  --control_foreground: #b1b1b1;
  --control_tint: #ffffff;
  --control_tint_muted: #828282;
  --counter_primary_background: #b4b4b4;
  --counter_primary_text: #ffffff;
  --counter_prominent_background: #ffffff;
  --counter_prominent_text: #ffffff;
  --counter_secondary_background: #99a2ad;
  --counter_secondary_text: #ffffff;
  --destructive: #e3e3e3;
  --dynamic_blue: #bababa;
  --dynamic_gray: #bdbdbe;
  --dynamic_green: #727272;
  --dynamic_neon_pink: #ffffff;
  --dynamic_orange: #d0d0d0;
  --dynamic_purple: #e2e2e2;
  --dynamic_raspberry_pink: #d6d6d6;
  --dynamic_red: #cfcfcf;
  --dynamic_violet: #bababa;
  --feed_recommended_friend_promo_background: #b0b0b0;
  --field_background: #f7f8fa;
  --field_border: #dce1e6;
  --field_error_background: #ffffff;
  --field_error_border: #e0e0e0;
  --field_text_placeholder: #818c99;
  --field_valid_border: #a7a7a7;
  --float_button_background: #f7f8fa;
  --float_button_background_highlighted: #edeef0;
  --float_button_border: rgba(0, 0, 0, 0.08);
  --float_button_foreground: #99a2ad;
  --header_alternate_background: #ffffff;
  --header_alternate_tab_active_indicator: #aeaeae;
  --header_alternate_tab_active_text: #000000;
  --header_alternate_tab_inactive_text: #99a2ad;
  --header_background: #ffffff;
  --header_background_before_blur: #ffffff;
  --header_background_before_blur_alternate: #ffffff;
  --header_search_field_background: #edeef0;
  --header_search_field_tint: #818c99;
  --header_tab_active_background: rgba(0, 0, 0, 0);
  --header_tab_active_indicator: #adadad;
  --header_tab_active_text: #000000;
  --header_tab_inactive_text: #99a2ad;
  --header_text: #000000;
  --header_text_alternate: #000000;
  --header_text_secondary: #818c99;
  --header_tint: #aeb7c2;
  --header_tint_alternate: #ffffff;
  --icon_alpha_placeholder: #ffffff;
  --icon_medium: #6f7985;
  --icon_medium_alpha: rgba(0, 0, 0, 0.48);
  --icon_name: #c3c3c3;
  --icon_outline_medium: #818c99;
  --icon_outline_secondary: #99a2ad;
  --icon_secondary: #99a2ad;
  --icon_secondary_alpha: rgba(0, 0, 0, 0.36);
  --icon_tertiary: #aeb7c2;
  --icon_tertiary_alpha: rgba(0, 0, 0, 0.24);
  --im_attach_tint: #b3b3b3;
  --im_bubble_border_alternate: #dce1e6;
  --im_bubble_border_alternate_highlighted: #cccccc;
  --im_bubble_button_background: #f7f8fa;
  --im_bubble_button_background_highlighted: #cccccc;
  --im_bubble_button_foreground: #000000;
  --im_bubble_button_outgoing_background: rgba(255, 255, 255, 0.72);
  --im_bubble_gift_background: #f0f0f0;
  --im_bubble_gift_background_highlighted: #e2e2e2;
  --im_bubble_gift_text: #828282;
  --im_bubble_gift_text_secondary: #a5a5a5;
  --im_bubble_incoming: #edeef0;
  --im_bubble_incoming_alternate: #ffffff;
  --im_bubble_incoming_alternate_highlighted: #f7f8fa;
  --im_bubble_incoming_expiring: #f5f6fb;
  --im_bubble_incoming_expiring_highlighted: #f4f4f4;
  --im_bubble_incoming_highlighted: #d3d9de;
  --im_bubble_outgoing: #f4f4f4;
  --im_bubble_outgoing_alternate: #ffffff;
  --im_bubble_outgoing_alternate_highlighted: #f0f2f5;
  --im_bubble_outgoing_expiring: rgb(243, 243, 243)
  --im_bubble_outgoing_expiring_highlighted: #fff;
  --im_bubble_outgoing_highlighted: #fff;
  --im_bubble_wallpaper_button_background: #f0f2f5;
  --im_bubble_wallpaper_button_background_highlighted: #e7e8ec;
  --im_bubble_wallpaper_button_foreground: #000000;
  --im_bubble_wallpaper_incoming: #ffffff;
  --im_bubble_wallpaper_incoming_highlighted: #edeef0;
  --im_bubble_wallpaper_outgoing: #fff;
  --im_bubble_wallpaper_outgoing_highlighted: #fff;
  --im_forward_line_tint: rgba(0, 20, 51, 0.12);
  --im_reply_separator: #7e7f80;
  --im_service_message_text: #818c99;
  --im_text_name: #787d82;
  --im_toolbar_separator: #343434;
  --im_toolbar_voice_msg_background: #99a2ad;
  --image_border: rgba(0, 0, 0, 0.08);
  --input_background: #ffffff;
  --input_border: #d3d9de;
  --landing_background: #ffffff;
  --landing_field_background: #f7f8fa;
  --landing_field_border: rgba(0, 0, 0, 0);
  --landing_field_placeholder: #818c99;
  --landing_login_button_background: #b7b7b7;
  --landing_login_button_foreground: #ffffff;
  --landing_primary_button_background: #b1b1b1;
  --landing_primary_button_foreground: #ffffff;
  --landing_secondary_button_background: rgba(0, 57, 115, 0.1);
  --landing_secondary_button_foreground: #bfbfbf;
  --landing_snippet_border: rgba(0, 0, 0, 0.12);
  --landing_tertiary_button_background: rgba(0, 0, 0, 0);
  --landing_tertiary_button_foreground: #b9b9b9;
  --landing_text_primary: #000000;
  --landing_text_secondary: #818c99;
  --landing_text_title: #bdbdbd;
  --like_text_tint: #fcfcfc;
  --link_alternate: #848484;
  --loader_background: #edeef0;
  --loader_tint: #c5d0db;
  --loader_track_fill: #d3d9de;
  --loader_track_value_fill: #b6b6b6;
  --media_overlay_button_background: #ffffff;
  --media_overlay_button_foreground: #333333;
  --modal_card_background: #ffffff;
  --modal_card_border: rgba(0, 0, 0, 0);
  --modal_card_header_close: #000000;
  --music_playback_icon: #000000;
  --overlay_status_background: #edeef0;
  --overlay_status_foreground: #6f7985;
  --overlay_status_icon: #818c99;
  --panel_tab_active_background: #edeef0;
  --panel_tab_active_text: #4e5966;
  --panel_tab_inactive_text: #6f7985;
  --placeholder_icon_background: rgba(0, 28, 61, 0.08);
  --placeholder_icon_background_opaque: #f0f2f5;
  --placeholder_icon_foreground_primary: #99a2ad;
  --placeholder_icon_foreground_secondary: #aeb7c2;
  --placeholder_icon_tint: #5d5d5d;
  --poll_option_background: #bcbcbc;
  --primary_overlay_badge: rgba(0, 0, 0, 0.56);
  --search_bar_background: rgba(0, 0, 0, 0);
  --search_bar_field_background: #edeef0;
  --search_bar_field_tint: #818c99;
  --search_bar_segmented_control_tint: #818c99;
  --secondary_overlay_badge: rgba(0, 0, 0, 0.24);
  --segmented_control_bar_background: rgba(0, 0, 0, 0);
  --segmented_control_tint: #99a2ad;
  --selection_off_icon: #c5d0db;
  --separator_alpha: rgba(0, 0, 0, 0.12);
  --separator_alternate: #e7e8ec;
  --separator_common: #e6e6e6;
  --skeleton_foreground_from: #f0f2f5;
  --skeleton_foreground_to: #edeef0;
  --skeleton_shimmer_from: #ffffff;
  --skeleton_shimmer_to: rgba(255, 255, 255, 0);
  --snippet_background: #ffffff;
  --snippet_border: rgba(0, 0, 0, 0.12);
  --snippet_icon_tertiary: #c2c2c2;
  --splashscreen_icon: #e5e5e5;
  --statusbar_alternate_legacy_background: rgba(0, 0, 0, 0.24);
  --stories_create_button_background_from: #f6f6f6;
  --stories_create_button_background_to: #e6e6e6;
  --stories_create_button_foreground: #838383;
  --stories_create_button_icon_background: #ffffff;
  --stories_skeleton_loader_background: #cccccc;
  --switch_ios_off_border: #e4e4e4;
  --tabbar_active_icon: #b3b3b3;
  --tabbar_background: #f7f8fa;
  --tabbar_inactive_icon: #b0b0b0;
  --tabbar_tablet_active_icon: #bababa;
  --tabbar_tablet_background: #f7f8fa;
  --tabbar_tablet_inactive_icon: #aeaeae;
  --tabbar_tablet_text_primary: #000000;
  --tabbar_tablet_text_secondary: #9c9c9c;
  --text_action_counter: #959596;
  --text_link: #858585;
  --text_link_highlighted_background: #000000;
  --text_muted: #333333;
  --text_name: #898989;
  --text_placeholder: #9b9b9b;
  --text_primary: #000000;
  --text_secondary: #949494;
  --text_subhead: #737373;
  --text_tertiary: #aeaeae;
  --toolbar_attach_background_from: #e1e2e3;
  --toolbar_attach_background_to: #c0c0c0;
  --vk_connect_button_primary_background: #222222;
  --vk_connect_button_primary_foreground: #ffffff;
  --vk_connect_button_secondary_background: #f5f5f5;
  --vk_connect_button_secondary_foreground: #222222;
  --writebar_icon: #939393;
  --vkui--colors_scheme: monochrome;
    --vkui--color_background_accent: #eaeaea;
    --vkui--color_background_accent--hover: #e2e4e5;
    --vkui--color_background_accent--active: #d3d3d3;
    --vkui--color_background_accent_themed: #ebebeb;
    --vkui--color_background_accent_themed--hover: #e0e1e2;
    --vkui--color_background_accent_themed--active: #d5d6d7;
    --vkui--color_background_accent_alternative: #e6e6e6;
    --vkui--color_background_accent_alternative--hover: #dbdddf;
    --vkui--color_background_accent_alternative--active: #d6d7d8;
    --vkui--color_icon_accent: #e2e4e7;
    --vkui--color_icon_accent--hover: #e4e5e6;
    --vkui--color_icon_accent--active: #dcdee0;
    --vkui--color_text_accent: #eaeaea;
    --vkui--color_text_accent--hover: #e9e9e9;
    --vkui--color_text_accent--active: #d5d5d6;
    --vkui--color_text_accent_themed: #e5e5e5;
    --vkui--color_text_accent_themed--hover: #d9dbdc;
    --vkui--color_text_accent_themed--active: #dbdcde;
    --vkui--color_stroke_accent: #dee0e1;
    --vkui--color_stroke_accent--hover: #dbdde0;
    --vkui--color_stroke_accent--active: #d2d3d5;
    --vkui--color_stroke_accent_themed: #e3e6e9;
    --vkui--color_stroke_accent_themed--hover: #d7dadd;
    --vkui--color_stroke_accent_themed--active: #dee1e4;
    --vkui--color_stroke_contrast--hover: #F5F5F7;
    --vkui--color_stroke_contrast--active: #EBECEF;
    --vkui--color_action_sheet_text: #d1d4d8;
    --vkui--color_action_sheet_text--hover: #bfc3c7;
    --vkui--color_action_sheet_text--active: #bec4cd;
    --vkui--color_background_content: #FFFFFF;
    --vkui--color_background_content--hover: #F5F5F7;
    --vkui--color_background_content--active: #EBECEF;
    --vkui--color_background_secondary: #F5F5F5;
    --vkui--color_background_secondary--hover: #EBECEE;
    --vkui--color_background_secondary--active: #E1E3E6;
    --vkui--color_background_secondary_alpha: rgba(0, 0, 0, 0.04);
    --vkui--color_background_secondary_alpha--hover: rgba(0, 0, 0, 0.08);
    --vkui--color_background_secondary_alpha--active: rgba(0, 0, 0, 0.12);
    --vkui--color_background_tertiary: #F9F9F9;
    --vkui--color_background_tertiary--hover: #EFF0F1;
    --vkui--color_background_tertiary--active: #E5E6EA;
    --vkui--color_background: #EBEDF0;
    --vkui--color_background--hover: #E2E4E9;
    --vkui--color_background--active: #D8DBE2;
    --vkui--color_background_contrast--hover: #F5F5F7;
    --vkui--color_background_contrast--active: #EBECEF;
    --vkui--color_background_warning: #f9f6ee;
    --vkui--color_background_warning--hover: #f7f2e9;
    --vkui--color_background_warning--active: #e8e2d6;
    --vkui--color_background_negative--hover: #d7cfd0;
    --vkui--color_background_negative--active: #d3c9ca;
    --vkui--color_background_negative_tint: #FAEBEB;
    --vkui--color_background_negative_tint--hover: #F0E2E4;
    --vkui--color_background_negative_tint--active: #E6D9DD;
    --vkui--color_text_negative--hover: #d6cecf;
    --vkui--color_text_negative--active: #cfcaca;
    --vkui--color_icon_negative--hover: #dcd1d1;
    --vkui--color_icon_negative--active: #d1c9c9;
    --vkui--color_stroke_negative--hover: #d8d8d8;
    --vkui--color_stroke_negative--active: #c7c4c4;
    --vkui--color_header_background: #FFFFFF;
    --vkui--color_header_background--hover: #F5F5F7;
    --vkui--color_header_background--active: #EBECEF;
    --vkui--color_panel_header_icon: #e0e3e7;
    --vkui--color_panel_header_icon--hover: #d0d4d7;
    --vkui--color_panel_header_icon--active: #d7d8d9;
    --vkui--color_icon_primary: #2C2D2E;
    --vkui--color_icon_primary--hover: #2A2C2F;
    --vkui--color_icon_primary--active: #282B2F;
    --vkui--color_icon_primary_invariably--hover: #2A2C2F;
    --vkui--color_icon_primary_invariably--active: #282B2F;
    --vkui--color_icon_medium: #818C99;
    --vkui--color_icon_medium--hover: #7C8795;
    --vkui--color_icon_medium--active: #778292;
    --vkui--color_icon_medium_alpha: rgba(0, 0, 0, 0.48);
    --vkui--color_icon_medium_alpha--hover: rgba(0, 0, 0, 0.52);
    --vkui--color_icon_medium_alpha--active: rgba(0, 0, 0, 0.56);
    --vkui--color_icon_secondary: #99A2AD;
    --vkui--color_icon_secondary--hover: #939CA9;
    --vkui--color_icon_secondary--active: #8D96A4;
    --vkui--color_icon_secondary_alpha: rgba(0, 0, 0, 0.36);
    --vkui--color_icon_secondary_alpha--hover: rgba(0, 0, 0, 0.4);
    --vkui--color_icon_secondary_alpha--active: rgba(0, 0, 0, 0.44);
    --vkui--color_icon_tertiary: #B8C1CC;
    --vkui--color_icon_tertiary--hover: #B1BAC6;
    --vkui--color_icon_tertiary--active: #A9B3C1;
    --vkui--color_icon_tertiary_alpha: rgba(0, 0, 0, 0.24);
    --vkui--color_icon_tertiary_alpha--hover: rgba(0, 0, 0, 0.28);
    --vkui--color_icon_tertiary_alpha--active: rgba(0, 0, 0, 0.32);
    --vkui--color_icon_contrast_secondary--hover: #E8EAEE;
    --vkui--color_icon_contrast_secondary--active: #DFE1E6;
    --vkui--color_image_border_alpha: rgba(0, 0, 0, 0.08);
    --vkui--color_image_border_alpha--hover: rgba(0, 0, 0, 0.12);
    --vkui--color_image_border_alpha--active: rgba(0, 0, 0, 0.16);
    --vkui--color_write_bar_input_background: #F2F3F5;
    --vkui--color_write_bar_input_background--hover: #E8EAEE;
    --vkui--color_write_bar_input_background--active: #DFE1E6;
    --vkui--color_write_bar_input_border_alpha: rgba(0, 0, 0, 0.08);
    --vkui--color_write_bar_input_border_alpha--hover: rgba(0, 0, 0, 0.12);
    --vkui--color_write_bar_input_border_alpha--active: rgba(0, 0, 0, 0.16);
    --vkui--color_track_background: #E1E3E6;
    --vkui--color_track_background--hover: #D8DBDF;
    --vkui--color_track_background--active: #CFD2D8;
    --vkui--color_track_buffer: #d5d9de;
    --vkui--color_track_buffer--hover: #d1d5db;
    --vkui--color_track_buffer--active: #cccdce;
    --vkui--color_background_modal: #FFFFFF;
    --vkui--color_background_modal--hover: #F5F5F7;
    --vkui--color_background_modal--active: #EBECEF;
    --vkui--color_image_placeholder_alpha: rgba(0, 28, 61, 0.08);
    --vkui--color_image_placeholder_alpha--hover: rgba(0, 28, 61, 0.12);
    --vkui--color_image_placeholder_alpha--active: rgba(0, 28, 61, 0.16);
    --vkui--color_image_placeholder: #F2F3F5;
    --vkui--color_image_placeholder--hover: #E8EAEE;
    --vkui--color_image_placeholder--active: #DFE1E6;
    --vkui--color_search_field_background: #EBEDF0;
    --vkui--color_search_field_background--hover: #E2E4E9;
    --vkui--color_search_field_background--active: #D8DBE2;
    --vkui--color_field_border_alpha: rgba(0, 0, 0, 0.12);
    --vkui--color_field_border_alpha--hover: rgba(0, 0, 0, 0.24);
    --vkui--color_field_border_alpha--active: rgba(0, 0, 0, 0.36);
    --vkui--color_field_background: #f2f3f5;
    --vkui--color_field_background--hover: #E8EAEE;
    --vkui--color_field_background--active: #DFE1E6;
    --vkui--color_separator_primary_alpha: rgba(0, 0, 0, 0.12);
    --vkui--color_separator_primary_alpha--hover: rgba(0, 0, 0, 0.16);
    --vkui--color_separator_primary_alpha--active: rgba(0, 0, 0, 0.2);
    --vkui--color_separator_secondary: #E1E3E6;
    --vkui--color_separator_secondary--hover: #D8DBDF;
    --vkui--color_separator_secondary--active: #CFD2D8;
    --vkui--color_separator_primary: #D7D8D9;
    --vkui--color_separator_primary--hover: #CED0D3;
    --vkui--color_separator_primary--active: #C6C8CD;
    --vkui--color_text_link: #cfd3d7;
    --vkui--color_text_link--hover: #d1d1d1;
    --vkui--color_text_link--active: #c7cacd;
    --vkui--color_text_link_themed: #b8bdc2;
    --vkui--color_text_link_themed--hover: #babdc1;
    --vkui--color_text_link_themed--active: #b3b3b3;
    --vkui--color_text_muted: #2C2D2E;
    --vkui--color_text_muted--hover: #2A2C2F;
    --vkui--color_text_muted--active: #282B2F;
    --vkui--color_text_primary: #000000;
    --vkui--color_text_primary--hover: #000102;
    --vkui--color_text_primary--active: #000105;
    --vkui--color_text_primary_invariably--hover: #000102;
    --vkui--color_text_primary_invariably--active: #000105;
    --vkui--color_text_secondary: #818C99;
    --vkui--color_text_secondary--hover: #7C8795;
    --vkui--color_text_secondary--active: #778292;
    --vkui--color_text_subhead: #6D7885;
    --vkui--color_text_subhead--hover: #697482;
    --vkui--color_text_subhead--active: #64707F;
    --vkui--color_text_tertiary: #99A2AD;
    --vkui--color_text_tertiary--hover: #939CA9;
    --vkui--color_text_tertiary--active: #8D96A4;
    --vkui--color_write_bar_icon: #d6d6d6;
    --vkui--color_write_bar_icon--hover: #d5d5d5;
    --vkui--color_write_bar_icon--active: #d0d0d0;
    --vkui--color_accent_blue: #dddddd;
    --vkui--color_accent_blue--hover: #d0d2d4;
    --vkui--color_accent_blue--active: #cacaca;
    --vkui--color_accent_gray--hover: #9CA7B3;
    --vkui--color_accent_gray--active: #96A0AE;
    --vkui--color_accent_red--hover: #efefef;
    --vkui--color_accent_red--active: #e3e3e3;
    --vkui--color_accent_green--hover: #9c9c9c;
    --vkui--color_accent_green--active: #a2a2a2;
    --vkui--color_accent_orange--hover: #ececec;
    --vkui--color_accent_orange--active: #e9e9e9;
    --vkui--color_accent_purple--hover: #dcdcdc;
    --vkui--color_accent_purple--active: #d9d9d9;
    --vkui--color_accent_violet--hover: #bbbbbb;
    --vkui--color_accent_violet--active: #afafaf;
    --vkui--color_skeleton_from--hover: #EBECEE;
    --vkui--color_skeleton_from--active: #E1E3E6;
    --vkui--color_skeleton_to--hover: #D8DBDF;
    --vkui--color_skeleton_to--active: #CFD2D8;
    --vkui--color_accent_secondary--hover: #d6d7d8;
    --vkui--color_accent_secondary--active: #cdcece;
    --vkui--color_text_link_visited--hover: #c4c4c4;
    --vkui--color_text_link_visited--active: #b0b0b0;
    --vkui--color_text_contrast--hover: #F5F5F7;
    --vkui--color_text_contrast--active: #EBECEF;
    --vkui--color_text_contrast_themed: #FFFFFF;
    --vkui--color_text_contrast_themed--hover: #F5F5F7;
    --vkui--color_text_contrast_themed--active: #EBECEF;
    --vkui--color_icon_contrast--hover: #F5F5F7;
    --vkui--color_icon_contrast--active: #EBECEF;
    --vkui--color_icon_contrast_themed: #FFFFFF;
    --vkui--color_icon_contrast_themed--hover: #F5F5F7;
    --vkui--color_icon_contrast_themed--active: #EBECEF;
    --vkui--color_link_contrast--hover: #F5F5F7;
    --vkui--color_link_contrast--active: #EBECEF;
    --vkui--color_text_positive--hover: #a0a0a0;
    --vkui--color_text_positive--active: #949494;
    --vkui--color_background_positive--hover: #9f9f9f;
    --vkui--color_background_positive--active: #959595;
    --vkui--color_icon_positive--hover: #acacac;
    --vkui--color_icon_positive--active: #a7a7a7;
    --vkui--color_stroke_positive--hover: #a2a2a2;
    --vkui--color_stroke_positive--active: #9c9c9c;
    --vkui--color_transparent--hover: rgba(0, 16, 61, 0.04);
    --vkui--color_transparent--active: rgba(0, 16, 61, 0.08);
}

body.vkui--vkBase--dog {
  background-image: url(https://img.imgsmail.ru/pkgs/themes.outsource/1.15.0/t2068/images/bg/vk_all/1440x900.jpg),url(https://img.imgsmail.ru/pkgs/themes.outsource/1.15.0/t2068/images/bg/vk_all/1440x900.jpg);
  background-size: cover;
}

body.vkui--vkBase--cat {
  background-image: url(https://s1.hostingkartinok.com/uploads/images/2022/07/9fa633d1ac363e876b5740f9c331c6ed.png);
  background-size: cover;
}
